* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 12px;
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}
#app {
  position: relative;
  width: 100%;
  height: 100%;
}
